# fastapi依赖
fastapi 
uvicorn 
python-multipart 
pydantic
pydantic_settings
# VoicePrintPro依赖
openai-whisper
torch>=1.10.1
torchaudio>=0.10.1
numpy>=1.20.0,<1.25
pandas
tqdm>=4.42.0
scipy>=1.7.0
scikit-learn==1.0.2
soundfile
kaldiio
pyyaml
matplotlib
openpyxl
numba==0.58.1
umap-learn
modelscope==1.20.0
funasr
transformers
hdbscan
fastcluster==1.2.6
opencv-python
python_speech_features
onnxruntime-gpu
pyannote.audio
addict
datasets==3.0.0
simplejson
pydub
requests
fasttext
# --extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
# paddlepaddle==3.0.0
# paddleocr==3.1.0
# paddlex==3.1.3
albumentations==1.3.1
# ADD: SeqGPT依赖（用于NER及EE任务）
# 已安装：transformers==4.28.1
# 已安装：torch
peft
cpm_kernels
gradio
pymilvus
httpx
